body {
    margin: 0 auto;
    text-align: center;
    font-family: ;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #D97706;
    color: #FDE68A;
    padding: 10px 20px;
}

h3 {
    font-size: 40px;
    text-shadow: 0 0 4px #92400E;
}

button {
    padding: 5px 7px;
    border-radius: 5px;
    border: 1px solid #FEF3C7;
    background-color: transparent;
}