@font-face {
    font-family: cursedTimer;
    src: url(CursedTimerUlil-Aznm.ttf);
}

body {
    margin: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #D1D5DB;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    background: linear-gradient(
        to right,
        #047857, 
        #10B981);
    color: #D1FAE5;
    padding: 10px;
    width: 575px;
    height: 385px;
}

h3 {
    font-size: 40px;
    padding: 10px 5px;
    margin: 10px;
}

button {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #FEF3C7;
    background-color: transparent;
    color: #FEF3C7;
    margin: 15px 3px;
}

p,
button {
    font-family: cursedTimer;
        border-radius: 5px;
}

p {
    font-size: 90px;
    margin: 0 auto;
    background-color: #374151;
    padding: 10px;
    color: #9F1239;
}

.title {
    margin: 0;
    text-shadow: 1px 1px 10px #A7F3D0;
    transition: all 0.6s ease-in-out;
    letter-spacing: 0.1em;
    animation: flicker 0.9s ease-in-out infinite alternate;
}

@keyframes flicker {
    0% {
		opacity: 0.7;
		text-shadow: 2px 2px 10px #6EE7B7;
	}
	100% {
		opacity: 2;
		text-shadow: 2px 2px 10px #6EE7B7;
	}
}

.card {
    padding: 10px 10px;
    position: sticky;
}

.resetBtn {
    display: block;
    margin: 0 auto;
    padding: 10px 13px;
    transition-duration: 0.4s;
    letter-spacing: 2px;
}

.resetBtn:hover,
button:hover {
    color: #064E3B;
    font-weight: bold;
    background: linear-gradient(
        to top,
        #6EE7B7,
        #34D399
        );
}

#basketballImg {
    width: 130px;
    padding: 0 auto;
    margin: 0;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

#bounce {
    top: -30px;
    left: -55px;
    position: absolute;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

#bounce:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
}