@font-face {
	font-family: cursedTimer;
	src: url(CursedTimerUlil-Aznm.ttf);
}

body {
	margin: 0 auto;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background: url(images/basketball-ball-variant.png),
		linear-gradient(to right, #047857, #10b981);
	max-width: 1200px;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container {
	margin: 0 auto;
	display: flex;
	color: #d1fae5;
	padding: 170px 200px 10px 200px;
	width: 675px;
	height: 385px;
}

h3 {
	font-size: 52px;
	padding: 10px 5px;
	margin: 10px;
}

button {
	padding: 10px;
	border: 1px solid #e5e7eb;
	background-color: #4B5563;
	color: #e5e7eb;
	margin: 18px 3px;
  font-size: 20px;
}

p,
button {
	font-family: cursedTimer;
	border-radius: 6px;
}

p {
	font-size: 90px;
	margin: 0 auto;
	background-color: #374151;
	padding: 10px;
	color: #9f1239;
}

.title {
	margin: 0;
	text-shadow: 1px 1px 10px #a7f3d0;
	transition: all 0.6s ease-in-out;
	letter-spacing: 0.1em;
	animation: flicker 0.9s ease-in-out infinite alternate;
}

@keyframes flicker {
	0% {
		opacity: 0.7;
		text-shadow: 2px 2px 10px #6ee7b7;
	}
	100% {
		opacity: 2;
		text-shadow: 2px 2px 10px #6ee7b7;
	}
}

.card {
	padding: 10px 40px;
	flex: 1;
    background: transparent;
    border: none;
}

.resetBtn {
	display: inline-block;
	margin: 0 auto;
	padding: 15px 20px;
	transition-duration: 0.4s;
	letter-spacing: 2px;
	font-size: 22px;
}

.resetBtn:hover,
button:hover {
	color: #4B5563;
	cursor: pointer;
	font-weight: bold;
	background: #e5e7eb;
}

#basketballImg {
	width: 105px;
	padding: 0 auto;
	margin: 0;
}

@keyframes bounce {
	0%,
	100%,
	20%,
	50%,
	80% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-25px);
		-ms-transform: translateY(-25px);
		transform: translateY(-25px);
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

#bounce {
	top: 30px;
	left: -55px;
	position: absolute;
	-webkit-animation-duration: 2s;
	animation-duration: 3s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	cursor: default;
	animation-name: bounce;
	-moz-animation-name: bounce;
}

#basketballPlayer {
	position: sticky;
}